/* blog */
.blog-box{
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
    background: #fff;
    border: 1px solid #c9c9c9;
}
.blog-content{
    padding: 1rem;
}
.blog-content .blog-title{
    padding: 0.5rem 0;
}
.blog-content .blog-desc{
    color: #4e4e4e;
}
.blog-footer{
    padding: 10px 15px;
    background: rgba(247, 247, 247, 1);
    border-top: 1px solid #c9c9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-author-img{
    width: 40px;
    border-radius: 50%;
}